//Colours
$color-primary: #773141;
$color-secondary: #fd0;
$color-grey: #f6f6f6;
$color-blue: #06a2d3;
$color-black: #2e2b26;

//breakpoints

$bp-large: 62.5em; //1000px
$bp-medium: 53.75em;//860px
$bp-small: 37.5em;//600px