.header {
  grid-row: 1 / 2;
  background-color: #fff;
  display: grid;
  grid-template-columns: min-content min-content 1fr max-content;
  grid-column-gap: 2rem;
  align-content: center;
  border-bottom: 1.8px solid rgba(#000000, 0.15);
  padding: 1rem;
  position: fixed;
  width: 100%;
  transition: all 0.4s ease-in-out;
  backface-visibility: hidden;
  z-index: 100;

  &__svg {
    grid-column: 2 / 3;
    height: 3rem;
    width: 3rem;
    align-self: center;
    cursor: pointer;

    @include headerHover();

    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }

  &__logo {
    height: 10rem;
    display: block;
    transform: translateX(5rem);

    @media only screen and (max-width: $bp-small) {
      transform: translateX(-1rem);
    }
  }

  &__btn {
    grid-column: 4 / 5;
    align-self: center;
  }

  %link {
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
    }
  }

  &__link {
    &--1 {
      @extend %link;
      grid-column: 3/ 4;
      justify-self: center;
      align-self: center;

      @include headerHover();
    }

    &--2 {
      @extend %link;
      font-size: 1.65rem;
      letter-spacing: 2.5px;
    }
  }
}

