.hero {
  grid-row: 2 / 3;
  margin-top: 10rem;
  display: grid;
  grid-template-rows: repeat(2, min-content);

  &__img {
    width: 87vw;
    min-height: 90vh;
    margin: 0 auto;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__content {
    grid-row: 2 / 3;
    display: grid;
    padding: 0 6rem;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    transform: translateY(-3rem);
    z-index: 5;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: auto;
      grid-template-rows: repeat(4, 1fr);
      grid-row-gap: 3rem;
      transform: translateY(-6rem);
    }
  }
  &__card {
    color: #fff;
    text-align: center;
    background-color: $color-primary;

    @media only screen and (max-width: $bp-medium) {
      text-align: left;
      display: flex;
      justify-content: space-between;
    }
    &:link,
    &:visited {
      border: 3px solid $color-primary;
      text-decoration: none;
      background-image: linear-gradient(
        to right,
        transparent 0%,
        transparent 50%,
        #fff 50%
      );
      background-size: 200.21%;
      transition: all 0.4s ease-out;
      backface-visibility: hidden;

      @media only screen and (max-width: $bp-medium) {
        background-size: auto;
        background-image: none;
        transition: none;
        padding: 1.9rem 2.3rem;
      }
    }
    &:hover,
    &:active {
      background-position: -100%;
      transform: scale(1.05);
      color: $color-primary;

      @media only screen and (max-width: $bp-medium) {
        background-position: none;
        transform: scale(1);
        color: #fff;
      }
    }
  }
  &__card-svg {
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-medium) {
      justify-content: initial;
    }
  }
  &__svg {
    height: 3rem;
    width: 3rem;
    fill: $color-primary;
    transform: translateX(-2.5rem);
    opacity: 0;
    transition: all 0.4s ease;

    @media only screen and (max-width: $bp-medium) {
      fill: #fff;
      transform: translateX(0);
      opacity: 1;
      transition: none;
    }
  }

  &__card:hover &__svg {
    transform: translateX(0);
    opacity: 1;
  }

  &__text {
    transform: translateY(3px);
    font-weight: 300;
  }
}
.bg__linear {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 87vw;
  min-height: 90vh;
  margin: auto;
  background-image: linear-gradient(
    to bottom,
    transparent 45%,
    rgba(0, 0, 0, 0.82) 98%,
    #000 94%
  );
  z-index: 1;
}
.heading {
  &-1--hero,
  &-3--hero {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
    color: #fff;
    text-transform: uppercase;
  }
  &-3--hero {
    font-size: 1.7rem;
    font-weight: 500;
    transform: translateY(-6.2rem);
    color: $color-secondary;
    letter-spacing: 2px;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }
  &-1--hero {
    font-size: 9rem;
    font-weight: 700;
    letter-spacing: 3px;
    animation: toTop 1.4s ease;
    backface-visibility: hidden;

    @media only screen and (max-width: $bp-medium) {
      font-size: 4.5rem;
    }
  }
  &-4--hero {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    opacity: 0.6;
    font-weight: bold;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }
  &-2--hero {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.9rem;
  }
}

.loader {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  transition: all 0.5s;

  &__img {
    width: 25rem;
    height: 20rem;
    margin-bottom: 6rem;
  }
  &__animation {
    height: 5rem;
    width: 5rem;
  }
}

.load-animation {
  margin-top: 100vh;
  opacity: 0;
}

//about section

.about__hero {
  grid-row: 2 / 3;
  margin-top: 10rem;
  display: grid;

  &-bg {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 80vw;
    height: 90vh;
    margin: 0 auto;
    background-image: linear-gradient(transparent 10%, #000);
    z-index: 1;
  }
  &--img {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 80vw;
    height: 90vh;
    margin: auto;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--title {
    grid-row: 1 /2;
    grid-column: 1 / 2;
    align-self: end;
    justify-self: center;
    color: #fff;
    text-align: center;
    transform: translateY(-5rem);
    z-index: 5;
  }
  &--h1 {
    font-size: 7.4rem;
    animation: toTop 1.4s ease;
    backface-visibility: hidden;
  }
  &--h3 {
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    font-weight: 400;
  }
}

.about__quote {
  grid-row: 3 / 4;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  padding: 5rem 4rem;
  &-nav-links {
    grid-row: 1 / 2;
    display: flex;
    width: 20%;
    justify-content: space-between;

    @media only screen and (max-width: $bp-small) {
      width: 50%;
    }
  }
  &-container {
    grid-row: 2 / 3;
    text-align: center;
    margin: 15rem 0;
  }
}
.welcome-principal {
  grid-row: 4 / 5;
  margin-bottom: 10rem;
}

.quote__heading {
  &-2 {
    font-size: 2.3rem;
    letter-spacing: 0.5px;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.7rem;
    }
  }
  &-4 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: $color-primary;
    margin-bottom: 3.5rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.2rem;
    }
  }
}

.nav-link {
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-black;
    font-size: 1.6rem;
    opacity: 0.6;
  }
  &:hover,
  &:active {
    text-decoration: underline;
  }

  &-active {
    &:link,
    &:visited {
      opacity: 1;
    }
  }
}

.leaders {
  grid-row: 5 / 6;
  margin-bottom: 2rem;

  &__container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 5rem repeat(3, 1fr) 5rem repeat(2, 1fr) 5rem;
    grid-template-rows: 10rem 1fr 10rem;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 5rem repeat(7, 1fr);

      grid-template-rows: 1fr 10rem 1fr;
      background-color: #f0f0f0;
    }
  }

  &__img {
    grid-row: 2/3;
    grid-column: 1 / 5;
    z-index: 10;
    background-color: $color-primary;

    @media only screen and (max-width: $bp-medium) {
      grid-row: 1 / 3;
      grid-column: 1 / -1;
      background-color: transparent;
    }

    img {
      height: 100%;
      width: 100%;
      display: block;
      object-fit: cover;
      transform: translateX(-15px) translateY(-15px);

      @media only screen and (max-width: $bp-medium) {
        transform: translateX(0) translateY(0);
      }
    }
  }

  &__bg {
    grid-row: 1/ 4;
    grid-column: 2 / 8;
    height: 100%;
    width: 100%;
    display: block;
    background-color: $color-grey;

    @media only screen and (max-width: $bp-medium) {
      background-color: transparent;
    }
  }
  &__content {
    grid-row: 2 / 3;
    grid-column: 6 / 8;

    justify-self: center;
    align-self: center;

    @media only screen and (max-width: $bp-medium) {
      grid-row: 2 / -1;
      grid-column: 1 / 8;
      padding: 5rem;
      background-color: $color-grey;
      justify-self: start;
      align-self: stretch;
      z-index: 20;
    }
  }
  &__heading {
    display: grid;
    grid-row-gap: 2rem;
  }

  p {
    width: 80%;
    margin: 2rem 0 7rem 0;

    @media only screen and (max-width: $bp-medium) {
      width: 90%;
      font-size: 1.7rem;
      margin: 3rem 0 3rem 0;
    }
  }
}

.choose-us {
  grid-row: 6 / 7;
  grid-column: 1 / 2;
}

.history {
  grid-row: 7 / 8;
  grid-column: 1 / 2;
  margin: 10rem 0;
  &__container {
    display: grid;
    grid-template-columns: 8rem repeat(6, 1fr) 8rem;
    margin: 4rem;
  }

  &__img {
    grid-row: 1 /2;
    grid-column: 1 / 5;
    width: 50rem;
    height: 50rem;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
      height: 90vh;
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
    &-right {
      grid-column: 5 / 9;

      @media only screen and (max-width: $bp-medium) {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
       }
    }
  }
  &__content {
    grid-column: 5/ 9;
    margin-left: 5rem;
    align-self: center;

    @media only screen and (max-width: $bp-medium) {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
      margin-top: 5rem;
    }
    &-left {
      grid-column: 1 / 5;

      @media only screen and (max-width: $bp-medium) {
       grid-row: 2 / 3;
       grid-column: 1 / -1;
      }
    }
  }

  &__heading {
    display: grid;
    grid-row-gap: 2rem;
  }
  &__text {
    width: 90%;
    margin: 3rem 0 7rem 0;
  }
}

.about-news {
  grid-row: 8 / 9;
  grid-column: 1 / 2;
}

.about-footer {
  grid-row: 9 / 10;
  grid-column: 1 / 2;
}

.principal {
  width: 50%;

  @media only screen and (max-width: $bp-medium) {
    width: 99%;
   }

  &__heading {
    grid-column: 3 / -1;
  }
  &__text {
    grid-row: 6 / 7;
    grid-column: 3 / -1;
    width: 85%;
    margin: 5rem auto 7rem auto;
    font-size: 1.7rem;
  }
  &-about {
    grid-row: 5 / 6;
    margin-bottom: 5rem;
  }
  &-news {
    grid-row: 6 / 7;
  }
  &-footer {
    grid-row: 7 / 8;
  }
}
.para-space {
  color: $color-black !important;
  margin-top: 2rem;
  display: block;
}
.margin-right {
  margin-right: 2rem;
}

.leader {
  &-1 {
    grid-row: 4 / 5;
  }
  &-2 {
    grid-row: 5 / 6;
  }
  &-3 {
    grid-row: 6 / 7;
  }
  &-4 {
    grid-row: 7 / 8;
  }
  &-1,
  &-2,
  &-3,
  &-4 {
    margin-bottom: 5rem;
  }
}

.leadership {
  &-news {
    grid-row: 8 / 9;
  }
  &-footer {
    grid-row: 9 / 10;
  }
}

.margin-top{
  margin-top: 5rem;
}

.enrol{
  &__feat{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }
  &__tour{
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }
  &__fee{
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    margin-bottom: 5rem;
  }
  &__news{
    grid-row: 7 / 8;
    grid-column: 1 / 2;
  }
  &__footer{
    grid-row: 8 / 9;
    grid-column: 1 / 2;
  }
}