.hero {
  grid-row: 2 / 3;
  margin-top: 10rem;
  display: grid;
  grid-template-rows: repeat(2, min-content);

  &__img {
    margin: 0 auto;
    width: 87vw;
    min-height: 90vh;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-image: linear-gradient(to bottom, transparent 45%,rgba(0,0,0,.82) 98%,#000 94%), url('../img/hero.png');
    background-position: center;
    background-size: cover;
    // img {
    //   width: 100%;
    //   height: 100%;
    //   display: block;
    //   object-fit: cover;
    // }
  }

  &__content {
    grid-row: 2 / 3;
    display: grid;
    padding: 0 6rem;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    transform: translateY(-3rem);

    
    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: auto;
      grid-template-rows: repeat(4, 1fr);
      grid-row-gap: 3rem;
    transform: translateY(-6rem);

    }
  }
  &__card {
    color: #fff;
    text-align: center;
    background-color: $color-primary;

    @media only screen and (max-width: $bp-medium) {
     text-align: left;
     display: flex;
     justify-content: space-between;
    }
    &:link,
    &:visited {
      border: 3px solid $color-primary;
      text-decoration: none;
      background-image: linear-gradient(
        to right,
        transparent 0%,
        transparent 50%,
        #fff 50%
      );
      background-size: 200.21%;
      transition: all 0.4s ease-out;
      backface-visibility: hidden;

      @media only screen and (max-width: $bp-medium) {
        background-size: auto;
        background-image: none;
        transition: none;
        padding: 1.9rem 2.3rem;
       }
    }
    &:hover,
    &:active {
      background-position: -100%;
      transform: scale(1.05);
      color: $color-primary;

      @media only screen and (max-width: $bp-medium) {

        background-position: none;
        transform: scale(1);
        color: #fff;
       }
    }
  }
  &__card-svg{
    display: flex;
    align-items: center;
    justify-content: center;

    
    @media only screen and (max-width: $bp-medium) {
    justify-content: initial;
     }
  }
  &__svg {
    height: 3rem;
    width: 3rem;
    fill: $color-primary;
    transform: translateX(-2.5rem);
    opacity: 0;
    transition: all 0.4s ease;

    @media only screen and (max-width: $bp-medium) {
      fill: #fff;
      transform: translateX(0);
      opacity: 1;
      transition: none;
     }
  }

  &__card:hover &__svg {
    transform: translateX(0);
    opacity: 1;
  }

  &__text {
    transform: translateY(3px);
    font-weight: 300;
  }
}

.heading {
  &-1--hero,
  &-3--hero {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
    color: #fff;
    text-transform: uppercase;
  }
  &-3--hero {
    font-size: 1.7rem;
    font-weight: 500;
    transform: translateY(-6.2rem);
    color: $color-secondary;
    letter-spacing: 2px;

@media only screen and (max-width: $bp-medium){
  font-size: 1.1rem;
  font-weight: 500;
}
  }
  &-1--hero {
    font-size: 9rem;
    font-weight: 700;
    letter-spacing: 3px;
    animation: toTop 1.4s ease;
    backface-visibility: hidden;

    @media only screen and (max-width: $bp-medium){
      font-size: 4.5rem;
    }
  }
  &-4--hero {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    opacity: 0.6;
    font-weight: bold;

    @media only screen and (max-width: $bp-medium){
    display: none;

    }
  }
  &-2--hero {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.9rem;
  }
}

.loader{
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  transition: all .5s;

  &__img{
    width: 25rem;
    height: 20rem;
    margin-bottom: 6rem;
  }
  &__animation{
    height: 5rem;
    width: 5rem;
  }
}

.load-animation{
  margin-top: 100vh;
  opacity: 0;
}